.form-widget {
  background-color: var(--color-background-soft);
  max-width: 450px;
  padding: 1em;
  margin-bottom: 3em;
}
.form-widget h2 {
  padding-bottom: 1em;
  padding-left: 120px;
}
.input-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 100px 1fr;
}

.input-grid label {
  text-align: right;
}

.button-group {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
  padding-top: 1em;
}
